@import "./assets/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  #root {
    color: #ffffff;
  }
}

* {
  cursor: none !important;
}

.grecaptcha-badge {
  visibility: hidden !important;
}
